@{
    ViewData["Title"] = "SQRA";

}


<br />
<div class="row table-bordered">

    <div class="col-md-4">
        <h2>Scan this:</h2>
        <img src="~/images/test.gif" width="200">
        <h3>With This:</h3>
        <img src="~/images/google-play-badge.png" width="150" />
        <img src="~/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" width="120" />
    </div>
    <div class="col-md-8">
        <h2>Введите текст, который вы хотите закодировать</h2>
        <form method="post" action="~/Home/Generate">
            <textarea class="form-control" rows="5" name="text" cols="40"></textarea>
            <p>
                
                <div class="container">
                    <div class="form-group">
                        <div class="checkbox">
                            <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <input type="checkbox" />Добавить Ваш логотип на QR код
                            </label>
                        </div>
                    </div>
                    <div id="collapseOne" aria-expanded="false" class="collapse">
                        <h3>Выберите файл для загрузки</h3>
                        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input class="form-control-file" type="file" name="upload" /><br>
                            
                        }
                        <!--<div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ut molestias eius, nam neque esse eos modi corrupti harum fugit, hic recusandae praesentium, minima ipsa eligendi architecto at! Culpa, explicabo.</div>-->
                    </div>
                </div>
                <br />
                <input class="btn btn-primary" type="submit" value="Отправить">
                <input class="btn btn-secondary" type="reset" value="Очистить">
            </p>
        </form>



    </div>

</div>
