@{
    ViewData["Title"] = "Home Page";
    //var Dictionary = (Dictionary<int, bool>)ViewData["tests"];

}


<br />
<div class="row table-bordered">

    <div class="col-md-4">
        <h2>Scan this:</h2>
        <img src="~/images/test.gif" width="200">
    </div>
    <div class="col-md-8">
        <h2>Введите текст, который вы хотите закодировать</h2>
        <form method="post" action="~/Home/Generate">
            <textarea class="form-control" rows="5" name="text" cols="40"></textarea>
            <p>
                <br />
                <input class="btn btn-primary" type="submit" value="Отправить">
                <input class="btn btn-secondary" type="reset" value="Очистить">
            </p>
        </form>



    </div>

</div>
